.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #F2BED1, #F8E8EE);
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBox{
    min-width: 400px;
    height: fit-content;
    width: fit-content;
    background-color: #FDF0F0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer button{
    outline: none;
    border: none;
    background: linear-gradient(0deg, #EF9595, #EFB495);
    color: #FDF0F0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
}

.footer button:hover{
    box-shadow: 0 0 7px #577592;
    transition: 0.2s ease-out;
}

.footer button:disabled{
    background: linear-gradient(0deg, #6b6b6b, #797979);;
}

.footer p{
    font-weight: 700;
    color: #313131;
}

.footer p span a{
    font-weight: bold;
    color: #EF9595;
    letter-spacing: 0px;
    font-size: 1.1rem;
    text-decoration: none;
}

.error{
    font-weight: bold;
    font-size: 0.8rem;
    color: #FE0000;
}